*{
    margin: 0;
    padding: 0;
    background-color: lightgray;

}
a{
    text-decoration: none;
    color: cornflowerblue;
    background-color: white;
}
#div-wrap{
    width: 100%;
    height: 768px;
}
#div-content{
    width: 600px;
    height: 400px;
    background-color: #ffffff;
    margin: 0 auto;
    position: relative;
    top: 15%;
}
#div-content p{
    margin-left: 30px;
    background-color: white;
    padding-top: 50px;
}
.txt-mile{
    width: 450px;
    height: 60px;
    background-color: #ffffff;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid #aaaaaa;
    margin: 50px 60px 50px 60px;
}
.next{
    width: 450px;
    height: 50px;
    background-color: deepskyblue;
    color: white;
    border: none;
    font-size: 18px;
    margin-left: 60px;
}
#p-apply{
    color: #aaaaaa;
    float: right;
    margin-right: 30px;
    font-size: 12px;
    margin-top: 10px;
}